/* input length */

input#new_client_tax_id {
  width: 104px;
  padding-right: 0px;
}

input#new_client_legal_id {
  width: 104px;
  padding-right: 0px;
}

input#new_client_address_zip {
  width: 72px;
  padding-right: 0px;
}


