body, html {
	background: white;
	font: 16px/24px Avenir Next, Open sans, Helvetica, Arial, Sans-Serif; /* font: font-size/line-height  font-family; */
	
	width: 100%;
	padding-left: 80px;
}

h1 {
	font-size: 2rem;
	line-height: 2.2rem;
	padding: 40px 0 0px 0;
	font-weight: 400;
	
}

.legal_id {
	padding-top: 4px;
}

.sort_of_label {
	font-size: 14px;
	color: #FF9000;
	margin: 64px 0 4px 0;
	
}

.key {
	font-size: 2rem;
	line-height: 2.2rem;
	padding: 8px 0 0px 0;
	
}
.sort_of_space {
	margin-left: 3px;
	
}

.key .sort_of_space {
	margin-left: 5px;
	
}

.sort_of_key {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0px 0 0px 0;
}

.explanation {
	font-size: 14px;
	margin: 0px 0 0px 0;
	
}

.detail {
	
	margin: 8px 0 0px 0;
	
}

.detail .explanation {
	
	margin: -8px 0 0px 0;
	
}

.qr {
	position: relative;
	float: left;
	margin: -640px 20px 20px 320px;
	width: 300px;
	height: 300px;
	
}

.pseudospace {
	margin-left: 5px;

}
